body{
  background-image: url('https://i.ibb.co/68D4mS1/662959.png')!important; 
  background-repeat: repeat;
}
.cardsection {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.cards {
    display: grid;
    grid-template-rows: 680px 680px 680px; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }


.card {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.inner{
  overflow: hidden;
}
.innerjogos{
  overflow: hidden;
}
.inner img{
  transition: all 1.5s ease;
}
.innerjogos img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}
.innerjogos:hover img{
  transform: scale(1.5);
}
.innerjogos{
    height: 390px;
    width: 287px;
  }
.btn{
  align-content: right;
}

h1 {
  padding-top: 25px;
  padding-left: 20px;
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-family: 'Ultra', sans-serif;   
	font-size: 45px;
	line-height: 100px;
	text-transform: capitalize;
	text-shadow: 0 2px white, 0 3px #777;
}

.table { 
  padding-left: 80px;
}

.tg td{border-color:black;
  border-style: solid;
  border-width:2px;
  font-weight:normal;
  padding:10px 5px;
  background-color: whitesmoke;
  }
.tg th{
  border-color: black;
  border-style:solid;
  border-width:2px;
  font-weight:bold;
  padding:10px 5px;
  background-color: whitesmoke;
  }


