<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="date" content="start:28/12/2020 09:20" />
    <meta name="keywords" content="gamezone_peri" />
    <meta name="description" content="gperipherals page" />
    <link rel="stylesheet" href="gamezone.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Periféricos</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="https://iconarchive.com/download/i43063/oxygen-icons.org/oxygen/Devices-input-gaming.ico" alt="" width="30" height="24" class="d-inline-block align-left">
        <a class="navbar-brand" href="/jogos">Gamezone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/eventos">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perifericos">Periféricos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plat">Plataformas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criadores">Criadores</a>
            </li>
          </ul>
          <span class="navbar-text">
            IPMAIA | TIWM | Tecnologias Internet | 2021
          </span>
        </div>
      </div>
    </nav>
    <main>
      <h1>Periféricos</h1>
        </script>
        <div class="cardsection">
        <div class= 'cards'>

        <div class="card" style="width: 18rem;">
          <div class="inner">
            <img src="https://www.corsair.com/medias/sys_master/images/images/h80/h94/9600095748126/base-k60-rgb-pro-low-profile-config/Gallery/K60_RGB_PRO_LP_01/-base-k60-rgb-pro-low-profile-config-Gallery-K60-RGB-PRO-LP-01.png_1200Wx1200H" class="card-img-top" alt="...">

          </div>
           <div class="card-body">
              <h5 class="card-title">Teclado Mecânico Corsair K60 RGB Pro Gaming Cherry MX Low Profile Speed PT</h5>
              <p class="card-text">Teclado mecânico ideal para gamers, com cores RGB, perfeito para jogar competitivamente.</p>
              <p class="card-text">149.99€</p>
              <a href="#" class="btn btn-primary" onclick="window.open('https://www.corsair.com/pt/pt/Teclados-gamer-mec%C3%A2nicos-low-profile/K60-RGB-PRO-Low-Profile/p/CH-910D018-UK')">Ver</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="inner">
            <img src="https://www.onedirect.pt/media/catalog/product/cache/5/image/600x/75fe832f739e7581346979d1fbb4a3c8/p/l/plb5220usb.jpg" class="card-img-top" alt="...">
          </div>
            <div class="card-body">
              <h5 class="card-title">Headset Plantronics Poly Blackwire 5220 USB-A</h5>
              <p class="card-text">Quando precisa utilizar um Headset durante muitas horas, o Blackwire 5200 Series é o ideal para si.</p>
              <p class="card-text">99.90€</p>
              <a href="#" class="btn btn-primary" onclick="window.open('https://www.pcdiga.com/perifericos/pc-audio/headsets/headset-plantronics-poly-blackwire-5220-usb-c-207586-01')">Ver</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="inner">
            <img src="https://img.pccomponentes.com/articles/31/317737/5913-asus-tuf-gaming-vg27aq1a-27-led-ips-wqhd-170hz-g-sync-compatible-caracteristicas.jpg" class="card-img-top" alt="...">

          </div>
            <div class="card-body">
              <h5 class="card-title">Monitor Asus TUF Gaming VG27AQ1A IPS 27" QHD 170Hz FreeSync / G-SYNC Compatible</h5>
              <p class="card-text">Monitor com cores perfeitas e com 170hz de refresh rate.</p>
              <p class="card-text">499.90€</p>
              <a href="#" class="btn btn-primary" onclick="window.open('https://www.pcdiga.com/imagem-e-som/monitores/monitores/monitor-asus-tuf-gaming-vg27aq1a-ips-27-qhd-170hz-freesync-g-sync-compatible-90lm05z0-b02370')">Ver</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="inner">
            <img src="https://static.pcdiga.com/media/catalog/product/cache/0d9f35bc50a0e8bbe3790e8915818884/r/a/rato_steelseries_rival_3_8500dpi_preto_1.jpg" class="card-img-top" alt="...">

          </div>
            <div class="card-body">
              <h5 class="card-title">Rato Steelseries Rival 3 8500DPI Preto</h5>
              <p class="card-text">Rato Steelseries Rival 3 8500DPI Preto: projetado com materiais hiper duráveis, switches mecânicos garantidos por 60 milhões de cliques.</p>
              <p class="card-text">38.90€</p>
              <a href="#" class="btn btn-primary" onclick="window.open('https://www.pcdiga.com/perifericos/ratos-teclados/ratos/rato-steelseries-rival-3-8500dpi-preto-62513')">Ver</a>
            </div>
        </div>
        <div class = "grid-container">
        <div class="card" style="width: 18rem;">
          <div class="inner">
            <img src="https://static.pcdiga.com/media/catalog/product/cache/0d9f35bc50a0e8bbe3790e8915818884/p/r/prime_main_pcdiga.jpg" class="card-img-top" alt="...">
          </div>
            <div class="card-body">
              <h5 class="card-title">Computador Desktop PCDIGA Gaming RicFazeres Prime RF-MA73NJ0</h5>
              <p class="card-text">AMD Ryzen 7 3700X | Corsair iCUE 220T RGB | MSI MAG B550M Bazooka | MSI Radeon RX 5700 XT Mech OC 8G | 16GB RAM | SSD 500GB</p>
              <p class="card-text">1235.20€</p>
              <a href="#" class="btn btn-primary" onclick="window.open('https://www.pcdiga.com/computadores/desktops/pcdiga-gaming/computador-desktop-pcdiga-gaming-ricfazeres-prime-rf-ma73nj0-powered-by-ric')">Ver</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>
