<!--Carregar xml eventos?-->
<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="date" content="start:08/12/2020 21:26">
    <meta name="keywords" content="gamezone">
    <meta name="description" content="gaming website">
    <link rel="stylesheet" href="gamezone.css">
    <title>Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
Eventos
  </body>
</html>
