<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="date" content="start:28/12/2020 09:20" />
    <meta name="keywords" content="gamezone_games" />
    <meta name="description" content="games page" />
    <link rel="stylesheet" href="gamezone.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Jogos</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="https://iconarchive.com/download/i43063/oxygen-icons.org/oxygen/Devices-input-gaming.ico" alt="" width="30" height="24" class="d-inline-block align-left">
        <a class="navbar-brand" href="/jogos">Gamezone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/eventos">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perifericos">Periféricos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plat">Plataformas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criadores">Criadores</a>
            </li>
          </ul>
          <span class="navbar-text">
            IPMAIA | TIWM | Tecnologias Internet | 2021
          </span>
        </div>
      </div>
    </nav>
    <main>
      <h1>Jogos</h1>
        </script>
        <script src="vendor/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="teasers.js"></script>
        <div class="container">
        <div class="row justify-content-center">
        <div class= 'cards'>
        <div class="lol shadow" style="width: 18rem;">
          <div class="inner">
            <img src="//theme.zdassets.com/theme_assets/43400/87a1ef48e43b8cf114017e3ad51b801951b20fcf.jpg" class="card-img-top"/>
          </div>
        <div class="card-body">
          <h5 class="card-title">League of Legends</h5>
          <p class="card-text">
            No League of Legends, os jogadores assumem o papel de "invocadores", 
            que controlam campeões com habilidades únicas, que formam uma equipa e lutam contra a 
            adversária de outros invocadores ou controlados pelo computador.(...)
          </p>
          <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.youtube.com/watch?v=k_PoqPRKjn8')">Ver teaser</a>
        </div>
        </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">        
          <img src="https://cdn2.f-cdn.com/contestentries/1310580/28209096/5ae07c835b52a_thumb900.jpg" class="card-img-top" alt="dota">
        </div>
        <div class="card-body">
          <h5 class="card-title">Dota 2</h5>
          <p class="card-text">O jogo é baseado em partidas no modo online e offline, em cada uma delas o objetivo é derrotar a equipa adversária e, para isso, é, indispensavelmente,
            necessário destruir o Ancestral(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=S_Rlts_pEps')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-188x250.jpg" class="card-img-top" alt="cs">
        </div>
        <div class="card-body">
          <h5 class="card-title">Counter-Strike : Global Offensive</h5>
          <p class="card-text">O Counter-Strike: Global Offensive (CS:GO) é a continuação do jogo de equipas cheio de ação que foi pioneiro quando foi lançado há 12 anos atrás.(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=edYCtaNueQY')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://static-cdn.jtvnw.net/ttv-boxart/FIFA%2021-188x250.jpg" class="card-img-top" alt="fifa">
        </div>
        <div class="card-body">
          <h5 class="card-title">Fifa 21</h5>
          <p class="card-text">FIFA 21 é o novo título da franquia de futebol da EA Games(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=Jmliox1trPQ')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/en_US/dw64173a87/images/large/56c494ad88a7e300458b4d5a.jpg?sw=341&sh=450&sm=fit" class="card-img-top" alt="rainbow">
        </div>      
        <div class="card-body">
          <h5 class="card-title">Tom Clancy's Rainbow Six: Siege</h5>
          <p class="card-text">Os jogadores assumem o papel de um dos membros da equipe contra-terrorista Rainbow(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=6wlvYh0h63k')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/9/9c/Minecraft_capa.png/260px-Minecraft_capa.png" class="card-img-top" alt="Minecraft">
        </div>
        <div class="card-body">
          <h5 class="card-title">Minecraft</h5>
          <p class="card-text">Em Minecraft, os jogadores exploram um mundo aberto tridimensional intencionalmente em blocos(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=MmB9b5njVbA')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/8/80/Grand_Theft_Auto_V_capa.png/270px-Grand_Theft_Auto_V_capa.png" class="card-img-top" alt="gta">
        </div>
        <div class="card-body">
          <h5 class="card-title">Grand Theft Auto V</h5>
          <p class="card-text">O jogo  passa-se no estado ficcional de San Andreas, com a história da campanha um jogador seguindo três criminosos e os seus esforços para realizarem assaltos sob a pressão de uma agência governamental.(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=QkkoHAzjnUs')" >Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e8/Rocket_League.jpg/250px-Rocket_League.jpg" class="card-img-top" alt="rl">
        </div>
        <div class="card-body">
          <h5 class="card-title">Rocket League</h5>
          <p class="card-text">Descrito como "futebol, mas com carros movidos a foguete"(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=SgSX3gOrj60')">Ver teaser</a>
        </div>
      </div>
      <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://store-images.s-microsoft.com/image/apps.20615.14094456225993959.2d017079-463a-4bd6-ac7a-2fb4f65673e9.0faeefd3-4ad9-4634-98df-75b9aeb92d48" class="card-img-top" alt="forza">
        </div>
        <div class="card-body">
          <h5 class="card-title">Forza Horizon 4</h5>
          <p class="card-text">A série Forza procura emular as características do desempenho e de condução de um grande número de carros de produção, modificados ou de corrida da vida real.(...)</p>
          <a href="#" class="btn btn-primary" onclick="window.open('https://www.youtube.com/watch?v=5xy4n73WOMM')">Ver teaser</a>
        </div>
      </div>
    </div>
  </div>
  </div>
    </main>
  </body>
</html>
