<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="date" content="start:08/12/2020 21:26">
    <meta name="keywords" content="gamezone">
    <meta name="description" content="gaming website">
    <link rel="stylesheet" href="gamezone.css">
    <title>Plataformas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="https://iconarchive.com/download/i43063/oxygen-icons.org/oxygen/Devices-input-gaming.ico" alt="" width="30" height="24" class="d-inline-block align-left">
        <a class="navbar-brand" href="/jogos">Gamezone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/eventos">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perifericos">Periféricos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plat">Plataformas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criadores">Criadores</a>
            </li>
          </ul>
          <span class="navbar-text">
            IPMAIA | TIWM | Tecnologias Internet | 2021
          </span>
        </div>
      </div>
    </nav>
    <h1>Plataformas</h1>
    <div class="cardsection">
    <div class= 'cards'>
    <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://s2.glbimg.com/I2_W4j1HEKEtrCj-bgTPVMzN5S0=/0x236:3600x2211/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/L/W/GO8WsPQ6C090NUUUD2GA/ps5.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">Playstation 5</h5>
        <p class="card-text">
            O PlayStation 5, oficialmente abreviado como PS5, é um console de jogos eletrônicos de nona geração, desenvolvido pela Sony Interactive Entertainment.
            Foi anunciado em outubro de 2018
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.playstation.com/pt-pt/ps5/')">Mais info</a>
      </div>
      </div>
    <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://www.techinn.com/f/13777/137776929/microsoft-xbox-series-x-1tb.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">XBOX Series X</h5>
        <p class="card-text">
            Xbox é uma marca de consoles de jogos eletrônicos criada pela Microsoft. O nome Xbox é incluído em uma série de consoles desenvolvidos pela Microsoft,
            desde a sexta geração até a nona geração de consoles, bem como o serviço on-line Xbox Live e Xbox Game Pass.
            A marca foi introduzida pela primeira vez em 15 de novembro de 2001, nos Estados Unidos, com o lançamento do console Xbox.
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.xbox.com/pt-PT')">Mais info</a>
      </div>
      </div>
      <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140007-games-review-nintendo-switch-review-image1-lp6zy9awm0.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">Nintendo Switch</h5>
        <p class="card-text">
            Em casa e ligada a uma TV, a Nintendo Switch pode ser jogada como uma consola de videojogos doméstica.
            Mas, na verdade, de acordo com as tuas necessidades e circunstâncias, tens três modos de jogo à escolha.
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.nintendo.pt/Familia-Nintendo-Switch/Nintendo-Switch/Nintendo-Switch-1148779.html')">Mais info</a>
      </div>
      </div>
      <div class = "grid-container">
      <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://static.bhphoto.com/images/images500x500/sega_sg_10037_2_sega_genesis_mini_1569259465_1472531.jpg" class="card-img-top"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">Sega Genesis Mini</h5>
          <p class="card-text">
            A consola icónica da SEGA que definiu uma geração de jogadores regressa nesta unidade elegante e miniaturizada. 
            Fabricado pela SEGA, Genesis Mini oferece muita diversão nos seus 40 jogos lendários.
          </p>
          <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://genesismini.sega.com/')">Mais info</a>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="table">
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg .tg-0lax{text-align:left;vertical-align:top}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-0lax">Consola</th>
          <th class="tg-0lax">Data Lançamento</th>
          <th class="tg-0lax">Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">PS5</td>
          <td class="tg-0lax">12 nov 2020</td>
          <td class="tg-0lax">500€</td>
        </tr>
        <tr>
          <td class="tg-0lax">XBOX SX</td>
          <td class="tg-0lax">10 nov 2020</td>
          <td class="tg-0lax">500€</td>
        </tr>
        <tr>
          <td class="tg-0lax">Nin Switch</td>
          <td class="tg-0lax">3 mar 2017</td>
          <td class="tg-0lax">330€</td>
        </tr>
        <tr>
          <td class="tg-0lax">Sega Genesis</td>
          <td class="tg-0lax">19 set 2018</td>
          <td class="tg-0lax">60€</td>
        </tr>
      </tbody>
      </table>
    </div>
  </body>
</html>
